Options -Indexes -MultiViews
DirectorySlash Off
ErrorDocument 404 /404.html

RewriteEngine On

# Jangan ganggu request file aset statis Next.js
RewriteCond %{REQUEST_URI} ^/_next/ [NC]
RewriteRule ^ - [L]

# 1. Hapus garis miring di akhir URL (kecuali root)
RewriteCond %{REQUEST_URI} ^/(.*)/$
RewriteRule ^(.*)/$ /$1 [R=301,L]

# 2. Tangani halaman utama (root)
RewriteRule ^$ index.html [L]

# 3. Layani file .html secara internal (menghindari konflik folder vs file)
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}.html -f
RewriteRule ^(.*)$ $1.html [L]
