@import "tailwindcss";

/* Tailwind v4 theme */
@theme {
  --color-primary: #1E6FFF;
  --color-secondary: #0F3D91;
  --color-bgSoft: #F4F7FB;
  --color-primarySoft: #E9F2FF;
}

body{
  background: var(--color-bgSoft);
}

/* card style */

.card{
  background:white;
  border-radius:10px;
  box-shadow:0 10px 25px rgba(0,0,0,0.05);
}

.soft-card{
  background:#fff;
  border-radius:10px;
  box-shadow:
  8px 8px 16px rgba(0,0,0,0.05),
  -8px -8px 16px rgba(255,255,255,0.8);
}